Flask~=3.0.3
streamlit~=1.40.1
numpy~=1.24.4
scikit-learn~=1.3.2
pandas~=2.0.3
matplotlib
google-generativeai
notebook


#Explanation of the Libraries
# Flask: Handles web application routing and rendering templates (index.html, prediction.html).
# Streamlit: Builds an interactive interface for predictions.
# NumPy: Performs transformations like log scaling (np.log()).
# scikit-learn: Loads the pre-trained ML model and handles predictions.
# pandas: Prepares or manipulates data (useful for tabular data handling).
# matplotlib: Creates optional visualizations in Streamlit.
# joblib: An optional library for model serialization (alternative to Pickle).

joblib~=1.4.2